.alert, .confirm {
    &_mask {
        @include mask(99);
    }
    &_panel {
        @include panel(101, 12rem, 7.3rem);
        @include radius(4px 4px);
        &_content {
            z-index: 101;
            position: relative;
            padding:0 0.5rem;
            height: 4.5rem;
            line-height: 4.5rem;
            text-align: center;
            &_info {
                @include inline-block();
                word-break: break-all;
                width: 100%;
                line-height: 1rem;
                text-align: center;
                font-size: 0.8rem;
                color: #505050;
            }
        }
        &_btn {
            cursor: pointer;
            z-index: 101;
            position: relative;
            border-top: 1px solid #d9d9d9;
            line-height: 2.8rem;
            text-align: center;
            font-size: 0.9rem;
            color: #f6644e;
        }
    }
}

.confirm {
    &_panel_btn {
        &_item {
            @include inline-block();
            float: left;
            width: 6rem;
            &-no {
                border-left: 1px solid #d9d9d9;
                margin-left: -1px;
            }
            &-ok {

            }
        }
    }
}


