/**
*  补充normalize
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,img,pre,code,form,fieldset,legend,input,menu,button,textarea,p,blockquote,th,td{
    margin:0;padding:0;outline:none;
}
address,caption,cite,code,dfn,em,th,var{
    font-style:normal;font-weight:normal
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(102, 102, 102) !important;
}
ol,ul{
    list-style:none
}
caption,th{
    text-align:left
}

q:before,q:after{
    content:''
}
abbr,acronym{
    border:0;font-variant:normal
}
legend{
    color:#000;
}
i, em{
    font-style: normal;
}
input,textarea,select,button, fieldset{
    outline: none;
    border:none;
}
input,textarea,select{
    *font-size:100%;
}
input:-webkit-autofill {
    background-color: #FFFFFF;
}
textarea {
    resize: none;
    word-break: break-all;
}
button, input[type="button"] {
    box-sizing: content-box;
}

/* touch浮现的半透明层 */
a, button, input{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

a {
    noFocusLine:expression(this.onFocus=this.blur());
    outline:none;
    -moz-outline-style:none;
    -webkit-outline-style:none;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

/* 所有样式都要针对不同的选择器而定，不要打包整体处理，因为其中一个出问题，其他的都会失效。*/
$placeholder: ('::-webkit-input-placeholder', '::-moz-placeholder', ':-moz-placeholder', ':-ms-input-placeholder');
@for $i from 1 through length($placeholder) {
    input#{nth($placeholder, $i)} {
        color: #999 !important;
    }
    textarea#{nth($placeholder, $i)} {
        color: #999 !important;
    }
}
