.login {
  position: relative;
  $panelParam : (
    index : 9999,
    width : 430px,
    height : 312px,
    borderColor : #b5b5b5
  );
  @include panel-center($panelParam);
  @include radius();

  &_logo {
    height: 126px;
    background-image : url("/share_web/img/logo.png");
    background-repeat : no-repeat;
  }

  &_method {
    padding : 24px 0;

    &_item {
      cursor: pointer;
      margin: 0 auto;
      padding: 0 5px;
      width : 210px;
      height : 50px;
      line-height : 50px;
      @include radius();
      background-color : #5d82d1;
      font-size : 12px;
      color : #fff;
      span {
        margin-left: 6px;
      }
    }
  }

  &_select {
    margin: 0 auto;
  }
}