.share {
  $panelParam : (
      index : 9999,
      width : 620px,
      height : 460px,
  );
  @include panel-center($panelParam);
  border-radius: 0 0 4px 4px;
  &-uploading {
    margin-top: -300px;
    height : 600px;
  }

  &_nav {
    position: absolute;
    left: -1px;
    top: -41px;
    width: 260px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #9a9c9e;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    background-color: #fff;
    &_item {
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      color: #737678;
    }
  }

  &_content {

    &_feed {
      .avatar {
        padding-top: 24px;
        padding-left: 30px;
        padding-right: 30px;
        height: 50px;
        img {
          @include radius(50%);
          width: 50px;
          height: 50px;
        }
      }

      .hint {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 16px;
        font-size: 10px;
        font-weight: 200;
        color: #9a9c9e;
        &_words {
          margin-left: 8px;
        }
        &_font {
          float: right;
        }
      }

      .input {
        margin-top: 8px;
        padding-left: 30px;
        padding-right: 30px;
        textarea {
          @include border-box();
          display: block;
          padding: 6px 10px;
          width: 100%;
          height: 116px;
          line-height: 16px;
          border: 1px solid #cdcdcd;
          @include radius(2px);
          font-size: 10px;
          color: #838383;
          &.textarea-warning {
            border-color: red;
          }
        }
      }

      .media {
        position: relative;
        margin: 18px 0;
        padding-left: 168px;
        padding-right: 30px;
        height: 92px;
        @include radius();
        &_photo {
          position: absolute;
          left: 30px;
          top: 0;
          width: 138px;
          height: 92px;
          border: 1px solid #cdcdcd;
          @include radius();
          & > img {
            width: 100%;
            height: 100%;
          }
        }
        &_upload-loading {
          position: absolute;
          left: 30px;
          top: 0;
          width: 138px;
          height: 92px;
          line-height: 92px;
          border: 1px solid #cdcdcd;
          @include radius();
          background-color : #fff;
          @include opacity(0.6);
          text-align: center;
          & > img {
            width: 16px;
            height: 16px;
          }
        }
        &_info {
          padding: 0 20px;
          line-height: 20px;
          font-size: 10px;
          color: #cacaca;
        }
      }

      .upload {
        position: relative;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        height: 136px;
        background-color: #e2e2e2;
        &_hint {
          padding: 14px 0;
          line-height: 22px;
          font-size: 12px;
          color: #696969;
        }
        &_imgs {
          float: left;
          margin-right: 20px;
          width: 90px;
          height: 60px;
          border: 2px solid #fff;
          @include radius();
          background-color: #fff;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .operation {
        padding-top: 24px;
        padding-left: 30px;
        padding-right: 30px;
        &_upload {
          float: left;
          line-height: 50px;
          font-size: 12px;
          color: #cacaca;
          &_component {
            display: inline-block;
            position: relative;
            width: 47px;
            height: 47px;
            .icon-add_photo {
              cursor: pointer;
            }
            #photo_upload_input {
              cursor: pointer;
              opacity: 0;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
          }
          &_hint {
            margin-left: 20px;
          }
        }
        &_share {
          float: right;
          @include radius();
          width: 104px;
          height: 34px;
          line-height: 34px;
          background-color: #dc4b3f;
          text-align: center;
          font-size: 12px;
          color: #fff;
          &-disabled {
            background-color: #cdcdcd;
          }
          &:hover {
            background-color: #ee6459;
          }
          &:active {
            background-color: #c12f23;
          }
        }
      }
    }
  }

  &_error, &_success {
    @include border-box();
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 30px;
    width: 100%;
    height: 84px;
    line-height: 20px;
    border-radius: 0 0 3px 3px;
    background-color: #ee6459;
    font-size: 12px;
    color: #fff;
  }

  &_success {
    line-height: 36px;
    background-color: #4dbca2;
    font-size: 20px;
    text-align: center;
  }
}
