<article class="login">
    <div class="login_logo"></div>
    <a class="cancel_circle" ng-click="cancel()">
        <i class="icon icon-cancel"></i>
    </a>
    <ul class="login_method">
        <li class="login_method_item">
            <a class="icon icon-facebook"></a>
            <span>{{ language.login }}</span>
        </li>
    </ul>
    <div class="select select-host select-btn login_select" data-value="US" data-offset="0">
        <div class="select_main">
            <p class="select_main_text select_target">{{ language.language }}</p>
            <button class="select_main_btn select_target">
                <i class="icon icon-arrow_right"></i>
            </button>
        </div>
        <ul class="select_content">
            <li class="select_content_list">
                <a class="select_content_list_value select_options_target" data-value="CN" ng-click="languageChange('CN')">中文</a>
            </li>
            <li class="select_content_list">
                <a class="select_content_list_value select_options_target" data-value="TR" ng-click="languageChange('TR')">Türkçe</a>
            </li>
            <li class="select_content_list">
                <a class="select_content_list_value select_options_target" data-value="ES" ng-click="languageChange('ES')">español</a>
            </li>
            <li class="select_content_list">
                <a class="select_content_list_value select_options_target" data-value="PT" ng-click="languageChange('PT')">português</a>
            </li>
            <li class="select_content_list">
                <a class="select_content_list_value select_options_target" data-value="US" ng-click="languageChange('US')">Einglish</a>
            </li>
        </ul>
    </div>
</article>