<article class="share" ng-class="{ 'share-uploading' : status.photoUpload }">
    <a class="cancel_circle" ng-click="cancel()">
        <i class="icon icon-cancel"></i>
    </a>
    <ul class="share_nav">
        <li class="share_nav_item">{{ language.share }}</li>
    </ul>
    <ul class="share_content">
        <li class="share_content_feed">
            <div class="avatar">
                <img src="{{ user.avatar }}" />
            </div>
            <div class="hint">
                <i class="icon icon-logo_16"></i>
                <span class="hint_words">{{ language.shareToFacebook }}</span>
                <span class="hint_font">150</span>
            </div>
            <div class="input">
                <textarea placeholder="what would you like to share?" ng-model="feed.message"></textarea>
            </div>
            <div class="media">
                <img src="{{ feed.picture }}" />
                <div class="media_info">
                    <p>{{ feed.title }}</p>
                    <p><a href="{{ feed.link }}" target="_blank">{{ feed.link }}</a></p>
                </div>
            </div>
            <div class="upload" ng-show="status.photoUpload">
                <p class="upload_hint">{{ language.photoWarning.UploadRestriction }}</p>
                <ul class="cf">
                    <li class="upload_imgs">
                        <img src="{{ feed.picture }}" />
                    </li>
                </ul>
            </div>
            <div class="operation cf">
                <div class="operation_upload">
                    <span class="operation_upload_component" >
                        <span class="icon icon-add_photo"></span>
                        <input id="photo_upload_input" name="new_photo" type="file" />
                    </span>
                    <span class="operation_upload_hint">{{ language.addPhoto }}</span>
                </div>
                <button class="operation_share" ng-click="share('facebook')">{{ language.share }}</button>
            </div>
        </li>
    </ul>
    <aside class="share_error" ng-show="status.photoFormatError">
        {{ language.photoWarning.photoFormat }}
    </aside>
    <aside class="share_seccess" ng-show="status.shareSuccess">
        shareSuccess
    </aside>
</article>
