@mixin mask ($index:$BaseMaskIndex, $opacity:$BaseMaskOpacitySize) {
    z-index : $index;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    background-color : #000000;
    @include opacity($opacity);
}