@mixin opacity ($opacity-size: $base-opacity-size) {
    @if $prefix-for-mozilla {
        -moz-opacity : $opacity-size;
    }
    @if $browser-pc {
        $size : $opacity-size * 100;
        filter : alpha(opacity=#{$size});
    }
    opacity : $opacity-size;
}
