@mixin panel-center ($option) {
    $o : (
        index : 999,
        padding-left : 0,
        padding-right : 0,
        padding-top : 0,
        padding-bottom : 0,
        width : 100px,
        height : 100px,
        borderWidth : 1px,
        borderColor : #909090,
        backgroundColor : #ffffff,
        offsetX : 0,
        offsetY : 0
    );
    $newO : map-merge($o, $option);

    $index : map-get($newO, index);
    $padding-left : map-get($newO, padding-left);
    $padding-right : map-get($newO, padding-right);
    $padding-top : map-get($newO, padding-top);
    $padding-bottom : map-get($newO, padding-bottom);
    $index : map-get($newO, index);
    $width : map-get($newO, width);
    $height : map-get($newO, height);
    $borderWidth : map-get($newO, borderWidth);
    $borderColor : map-get($newO, borderColor);
    $backgroundColor : map-get($newO, backgroundColor);
    $offsetX : map-get($newO, offsetX);
    $offsetY : map-get($newO, offsetY);

    z-index: $index;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: (-$width - $padding-left - $padding-right - $borderWidth * 2) / 2 - $offsetX;
    margin-top: (-$height - $padding-top - $padding-bottom - $borderWidth * 2) / 2 - $offsetY;
    width: $width;
    height: $height;
    border:$borderWidth solid $borderColor;
    background-color: $backgroundColor;
}


/*
  已弃用
*/
@mixin panel ($index: 100, $width: 100px, $height: 100px, $boxHeight:null, $X:0, $Y:0) {
    z-index: $index;
    position: fixed;
    left: 50%;
    top: 50%;
    width: $width;
    @if $boxHeight {
        height: $boxHeight;
    }@else {
        height: $height;
    }
    margin-left: (-$width / 2) - $X;
    margin-top: (-$height / 2) - $Y;
    border:1px solid #909090;
    background-color: #ffffff;
}