%opacity {
    @if $prefix-for-mozilla {
        -moz-opacity : $base-opacity-size;
    }
    @if $browser-pc {
        $size : $base-opacity-size * 100;
        filter : alpha(opacity=#{$size});
    }
    opacity : $base-opacity-size;
}
